
<%= button_to 'Log out', destroy_user_session_path, method: :delete %>
<h2>Welcome</h2>

<hr />
<%= link_to 'add trip', new_trip_path %>
<h3>
  your trips
</h3>

<ul>
  <% @trips.each do |trip| %>
    <li>
      <%= trip.name %>: <%= trip.name %>
    </li>
  <% end %>
</ul>

